---
layout: page
---

<div class="blog-posts">
  <div class="category-filter">
    <a href="/blog/" class="filter-button">All Posts</a>
    {% assign categories = site.posts | map: 'categories' | flatten | uniq | sort %}
    {% for category in categories %}
      {% assign words = category | split: ' ' %}
      {% capture capitalized_category %}
        {% for word in words %}
          {{ word | capitalize }}
        {% endfor %}
      {% endcapture %}
      <a href="/blog/{{ category | downcase }}/" class="filter-button {% if page.category == category %}active{% endif %}">{{ capitalized_category | strip }}</a>
    {% endfor %}
  </div>
  
  {%- if site.posts.size > 0 -%}
    <div class="post-list">
      {%- for post in site.posts -%}
        {% if post.categories contains page.category %}
        <div class="post-row">
          <div class="post-image">
            {% if post.image %}
              <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
            {% else %}
              <img src="/assets/images/default-post.svg" alt="{{ post.title }}">
            {% endif %}
          </div>
          <div class="post-content">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3 class="post-title">
              <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
            <div class="post-excerpt">
              {% if post.description %}
                {{ post.description }}
              {% else %}
                {{ post.excerpt | strip_html | truncatewords: 50 }}
              {% endif %}
            </div>
            {% if post.tags %}
            <div class="post-tags">
              {% for tag in post.tags %}
                {% assign tag_slug = tag | slugify %}
                {% assign tag_class = "tag-" | append: tag_slug %}
                <a href="/blog/?tag={{ tag_slug }}" class="post-tag {{ tag_class }}" data-tag="{{ tag_slug }}">{{ tag }}</a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>
